.contactsBlock {
   height: 50vh;
   background-color: goldenrod;
}

.contactsContainer {
   flex-direction: column;
   justify-content: flex-start;
}

.title {
   background-color: indianred;
}

.form {
   border: 1px solid;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
}