@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  height: 50vh;
  @media screen and (min-width: 1700px) {
    height: 40vh;
  }
  @media screen and (max-height: 637px) {
    height: 52vh;
  }
  @media screen and (max-height: 612px) {
    height: 55vh;
  }
  background-color: $bgThirdColor;
  @include fontImage;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .addForm {
      height: 180px;
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .form {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
      }

      .button {
        margin: 0 90px 40px;
        @include button(100px, 30px,('DM Sans', sans-serif), 14px);

        &:hover {
          background: $bgSecondColor;
        }

        &:active {
          background: $bgColor;
        }
      }
    }
  }
}









