@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  min-height: 50vh;
  @media screen and (min-width: 1700px) {
    min-height: 40vh;
  }
  background-color: $bgThirdColor;
  @include fontImage;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .addForm {
      height: 180px;
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .form {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;

        .nameForm {
          border-radius: 10px;
          height: 19px;
          background-color: $bgColor;
          border-color: $textColor;
          color: $textColor;
          outline: 0;
          border-width: 1.5px;
        }

        .nameFormError {
          border-radius: 10px;
          height: 19px;
          background-color: rgba(218, 113, 116, 0.78);
          border-color: rgba(217, 48, 164, 0.9);
          color: $bgColor;
          outline: 0;
          border-width: 1.5px;
        }

        .emailForm {
          border-radius: 10px;
          height: 19px;
          width: 280px;
          background-color: $bgColor;
          border-color: $textColor;
          color: $textColor;
          outline: none;
          border-width: 1.5px;
          padding: 3px;
        }

        .emailFormError {
          border-radius: 10px;
          height: 19px;
          width: 280px;
          background-color: rgba(218, 113, 116, 0.78);
          border-color: rgba(217, 48, 164, 0.9);
          color: $bgColor;
          outline: none;
          border-width: 1.5px;
          padding: 3px;
        }


        .messageForm {
          border-radius: 10px;
          height: 38px;
          width: 280px;
          background-color: $bgColor;
          border-color: $textColor;
          color: $textColor;
          outline: 0;
          border-width: 1.5px;
        }

        .messageFormError {
          border-radius: 10px;
          height: 38px;
          background-color: rgba(218, 113, 116, 0.78);
          border-color: rgba(217, 48, 164, 0.9);
          color: $bgColor;
          outline: 0;
          border-width: 1.5px;
        }

      }

      .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include text(('DM Sans', sans-serif), 1.2, 400, 18px);
        color: $bgSecondColor;
        margin-bottom: 15px;
      }

      .button {
        margin: 0 90px 40px;
        @include button(100px, 30px, ('DM Sans', sans-serif), 14px);
        cursor: pointer;

        &:hover {
          background: $bgSecondColor;
          color: $bgColor
        }

        &:active {
          background: $bgColor;
          color: $textColor
        }
      }

      .buttonDisabled {
        margin: 0 90px 40px;
        @include button(100px, 30px, ('DM Sans', sans-serif), 14px);
        cursor: pointer;
      }
    }

    .messageSending {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include text(('DM Sans', sans-serif), 1.2, 700, 24px);
      color: $bgSecondColor;
    }
  }
}









