.title {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    position: relative;
}

