@import "src/common/styles/sass/variables";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, .5) inset;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      @media screen and (max-width: 627px) {
        justify-content: center;
      }
    }

    .title {
      background-color: indianred;
    }
  }
}