.mainBlock {
    height: 100vh;
    background-color: #abb8c3;
}

.text {
    width: 400px;
    background-color: white;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: white;
}