@import "src/common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: #abb8c3;
  @include text(('DM Sans', sans-serif), 1.2, 400, 18px);
  @media screen and (max-height: 600px) {
    @include text(('DM Sans', sans-serif), 1.2, 400, 12px);
  }
  @include fontImage;
  margin-top: 40px;
  padding-bottom: 30px;

  .text {
    width: 400px;

    .description {
      @include text(('DM Sans', sans-serif), 1.8, 400, 12px);
      @media screen and (max-height: 600px) {
        @include text(('DM Sans', sans-serif), 1.4, 400, 8px);
      }
    }
  }

  .photo {

    width: 370px;
    height: 500px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
    @media screen and (max-height: 750px) {
      height: 380px;
      width: 290px;
    }
    @media screen and (max-height: 720px) {
      height: 360px;
      width: 280px;
    }
    @media screen and (max-height: 700px) {
      height: 340px;
      width: 270px;
    }
    @media screen and (max-height: 700px) {
      height: 320px;
      width: 260px;
    }
    @media screen and (max-height: 670px) {
      height: 300px;
      width: 250px;
    }
    @media screen and (max-height: 640px) {
      height: 280px;
      width: 230px;
    }
    @media screen and (max-height: 620px) {
      height: 260px;
      width: 210px;
    }
    @media screen and (max-height: 600px) {
      height: 240px;
      width: 200px;
    }
    @media screen and (max-height: 390px) {
      height: 150px;
      width: 100px;
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}



