@import "src/common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: #abb8c3;
  @include text(('DM Sans', sans-serif), 1.2, 400, 18px);

  .text {
    width: 400px;
    background-color: white;
  }

  .photo {
    width: 300px;
    height: 400px;
    background-color: white;
  }
}



