@import "src/common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: #abb8c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include text(('DM Sans', sans-serif), 1.2, 400, 18px);
  @media screen and (max-height: 600px) {
    @include text(('DM Sans', sans-serif), 1.2, 400, 12px);
  }
  @include fontImage;
  margin-top: 40px;
  padding-bottom: 30px;

  .text {
    margin-top: 40px;
    width: 400px;

    .description {
      @include text(('DM Sans', sans-serif), 1.8, 400, 12px);
      @media screen and (max-height: 600px) {
        @include text(('DM Sans', sans-serif), 1.4, 400, 8px);
      }
    }
  }

  .photo {
    min-width: 340px;
    min-height: 450px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, .5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}



