.links {
  width: 230px;
  height: 30px;
  display: flex;
  justify-content: space-around;

  .image {
    height: 95%;
    width: 30px;
    cursor: pointer;
    &:hover {
      height: 110%;
      width: 40px;
    }
  }
}



