.links {
  width: 230px;
  height: 30px;
  display: flex;
  justify-content: space-around;

  .image {
    height: 95%;
    width: 30px;
    /*object-fit: cover;*/
    transition: 0.2s;
    cursor: pointer;
    &:hover {
     transform: scale(1.4);
    }
  }
}



