@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 280px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;

  .picture {
    height: 250px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include fontImage;
    border-radius: 15px 15px 0 0;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .button {
      @include button(120px, 40px, ('DM Sans', sans-serif), 18px);
      font-weight: bold;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      &:hover {
        background: $bgSecondColor;
      }

      &:active {
        background: $bgColor;
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .title {
      @include text(('DM Sans', sans-serif), 1.2, 700, 30px);
      letter-spacing: 1px;
      position: relative;
      margin: 0 0 10px;
    }

    .description {
      @include text(('DM Sans', sans-serif), 1.8, 400, 12px);
    }
  }
}








