@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins";

.nav {
   border: 1px solid;
   width: 300px;
   display: flex;
   justify-content: space-between;
   background-color: $bgSecondColor;
   @include text(('DM Sans', sans-serif), 1.2, 400, 16px);
}