@import "src/common/styles/sass/mixins";
@import "src/common/styles/sass/variables";


.footerBlock {
  min-height: 20vh;
  background-color: rgba(3, 1, 1, 0.78);
  @media screen and (min-width: 1700px) {
    height: 16vh;
  }

  .footersContainer {
    @include text(('DM Sans', sans-serif), 1.2, 400, 16px);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .copyright {
      margin-top: 10px;
    }
  }
}


